</fieldset>
</div>

<div id="checkbox_options">
    <fieldset>
        <legend>{L_CHECKBOX_SETTINGS}</legend>
        <dl>
            <dt><label for="forum_allow_checkbox">{L_ALLOW_CHECKBOX}{L_COLON}</label><br /><span>{L_ALLOW_CHECKBOX_EXPLAIN}</span></dt>
            <dd><label><input type="radio" class="radio" name="forum_allow_checkbox" value="{POSTS_CHECKBOX_YES}"<!-- IF S_FORUM_ALLOW_CHECKBOX --> id="forum_allow_checkbox" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                <label><input type="radio" class="radio" name="forum_allow_checkbox" value="{POSTS_CHECKBOX_NO}"<!-- IF not S_FORUM_ALLOW_CHECKBOX --> id="forum_allow_checkbox" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
            </dd>
        </dl>