<!-- IF S_CHECKBOX_VISIBLE -->
<div class="cp-main ucp-main panel-container">
    <div class="panel">
        <div class="inner">
            <dt style="width:20em;"><label for="post_checkbox_shareholder">{S_CHECKBOX_TITLE}{L_COLON}</label></dt>
            <dd style="float:left;"><label><input type="radio" class="radio shareholder_radio" name="post_checkbox_shareholder" value="{S_POSTS_CHECKBOX_YES}"
                <!-- IF S_IS_SHAREHOLDER == S_POSTS_CHECKBOX_YES -->id="post_checkbox_shareholder" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                <label><input type="radio" class="radio shareholder_radio" name="post_checkbox_shareholder" value="{S_POSTS_CHECKBOX_NO}"
                    <!-- IF S_IS_SHAREHOLDER == S_POSTS_CHECKBOX_NO -->id="post_checkbox_shareholder" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
        </div>
    </div>
</div>
<!-- INCLUDEJS @jles_checkposting/checkbox_ext.js -->
<!-- ENDIF -->