<label for="forum_allow_checkbox">{S_CHECKBOX_TITLE}{L_COLON}</label>
<label><input type="radio" class="radio" name="forum_allow_checkbox" value="{POSTS_CHECKBOX_YES}"<!-- IF S_FORUM_ALLOW_CHECKBOX --> id="forum_allow_checkbox" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
<label><input type="radio" class="radio" name="forum_allow_checkbox" value="{POSTS_CHECKBOX_NO}"<!-- IF not S_FORUM_ALLOW_CHECKBOX --> id="forum_allow_checkbox" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
&nbsp;&nbsp;&nbsp;&nbsp;